<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase ion-margin"
      >iniciar sesión</ion-title
    >
    <ion-title class="ion-hide">Este mensaje estara oculto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets/profile.png" alt="" />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">
    <ion-item>
      <ion-input
        formControlName="email"
        label="Email"
        labelPlacement="floating"
        placeholder="Correo electronico"
      >
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          *ngIf="(loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input
        formControlName="password"
        type="password"
        label="Password"
        labelPlacement="floating"
        placeholder="Escribe tu contraseña"
      >
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          *ngIf="(loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-button
      type="submit"
      [disabled]="!loginForm.valid"
      expand="block"
      shape="round"
      color="success"
      >Login</ion-button
    >
  </form>
</ion-content>
